body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #1b1b2f;
  color: #fff;
}
header {
  background: #162447;
  /* padding: 2rem 2rem; */
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 500;
}
.navbar a:hover {
  color: #ffd369;
}
.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 4rem 2rem;
  background: #1f4068;
}
.hero img {
  width: 300px;
  border-radius: 50%;
  border: 5px solid #ffd369;
  margin-bottom: 20px;
}
.hero-content h1 {
  font-size: 3.5rem;
  color: #ffd369;
}
.hero-content p {
  margin: 1.5rem 0;
  max-width: 500px;
  font-size: 20px;
}
.btn {
  padding: 10px 25px;
  background-color: #ffd369;
  color: #000;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  margin-right: 10px;
  transition: 0.3s ease;
}
section {
  padding: 3rem 2rem;
}
h2.section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #ffd369;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
  padding: 0 20px;
}
.card {
  background: #0f3460;
  padding: 15px;
  border-radius: 10px;
  color: white;
  text-align: center;
}
.card:hover {
  background: #1a1a2e;
}
.card img {
  width: 60px;
  transition: transform 0.3s;
}
.card:hover img {
  transform: scale(1.1);
}
.footer {
  background: #162447;
  text-align: center;
  padding: 1rem;
  font-size: 14px;
}
.social a {
  margin-right: 10px;
  font-size: 18px;
  color: #fff;
}

.social a:hover {
  color: #ffd369;
}
